<section id="why-us" class="why-us py-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-6 wow fadeInDown">
        <div class="title d-flex gap-3">
          <span class="px-3 py-1 rounded-5">Why</span>
          <h3>Why<br>Choose<br>Us.</h3>
        </div>
        <div class="why-image d-flex justify-content-center align-items-center">
          <img src="assets/image/why-chooes-us-image/background-why-us.png" alt="taibaconnect">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex flex-column justify-content-center align-items-center gap-3">
          <div class="why-box wow fadeInUp rounded-5 p-4 d-flex justify-content-center aling-items-center gap-3">
            <div class="why-info">
              <h5>Comprehensive & Integrated Solutions</h5>
              <p>We offer a full range of digital, technical, and marketing services—all in one place to simplify your digital journey.</p>
            </div>
            <div class="arrow-link d-flex justify-content-center align-items-center">
              <div class="d-flex justify-content-center align-items-center rounded-circle cr">
                <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.00001L8 1M8 1L7.99999 8M8 1L1.00001 7.99999" stroke="#0039C7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
          </div>

          <div class="why-box wow fadeInUp rounded-5 p-4 d-flex justify-content-center aling-items-center gap-3">
            <div class="why-info">
              <h5>Skilled & Specialized Team</h5>
              <p>Our team consists of highly qualified experts in networking, development, cybersecurity, and digital marketing.</p>
            </div>
            <div class="arrow-link d-flex justify-content-center align-items-center">
              <div class="d-flex justify-content-center align-items-center rounded-circle cr">
                <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.00001L8 1M8 1L7.99999 8M8 1L1.00001 7.99999" stroke="#0039C7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
          </div>

          <div class="why-box wow fadeInUp rounded-5 p-4 d-flex justify-content-center aling-items-center gap-3">
            <div class="why-info">
              <h5>Vision-Driven & Professional Approach</h5>
              <p>We align with Saudi Vision 2030, delivering innovative, high-quality services that support national digital transformation.</p>
            </div>
            <div class="arrow-link d-flex justify-content-center align-items-center">
              <div class="d-flex justify-content-center align-items-center rounded-circle cr">
                <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.00001L8 1M8 1L7.99999 8M8 1L1.00001 7.99999" stroke="#0039C7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
