<section id="about" class="about py-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-6 wow fadeInLeft">
        <div class="about-img">
          <img src="assets/image/about-image/about-img.png" alt="taibaconnect">
          <img src="assets/image/about-image/about-line.png" class="line-img" alt="taibaconnect">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-info d-flex flex-column justify-content-center align-items-start h-100">
          <div class="d-flex justify-content-center aling-items-center gap-1 wow fadeInLeft">
            <span class="line rounded-5"></span>
            <h6 class="main-color ms-1">About Us</h6>
          </div>
          <div class="content-about">
            <h3 class="wow fadeInUp">Technology-Driven Solutions for a Smarter Future</h3>
            <p class="mt-3 wow fadeInUp">TaibaConnect is a leading communications and IT company that delivers innovative solutions in networking, connectivity, cybersecurity, digital marketing, and technical consulting. With a clear commitment to Saudi Arabia’s Vision 2030, we empower both government and private sector clients through high-quality services, specialized teams, and customized digital strategies that drive growth and success.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

