<section id="ceo" class="ceo py-5">
  <div class="container">
    <div class="row g-1">
      <div class="col-lg-6 wow fadeInLeft">
        <div class="ceo-image d-flex justify-content-center align-items-center">
          <img src="assets/image/ceo-img/circle-ceo-img.png" class="circle-img" alt="taibaconnect">
          <img src="assets/image/ceo-img/elipse-ceo-img.png" class="ellips-img" alt="taibaconnect">
          <img src="assets/image/ceo-img/ceo-img.png" class="ceo" alt="taibaconnect">
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp">
        <div class="ceo-description d-flex flex-column justify-content-evenly h-100">
          <p>“Since our beginnings a lot has change in the market including the needs of customers, the only thing that hasn't change is our commitiment to supporting our customers”</p>
          <div>
            <h6 class="m-0">Abdul Elah Almehdar</h6>
            <span>CEO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

