<section class="overflow-hidden py-2">
  <div class="row g-2 overflow-hidden">
    <div class="col-md-6">
      <div class="h-100 d-flex justify-content-start align-items-start gap-2 flex-column px-3 pt-5">
        <h4>Control Your Charger with Our Mobile App</h4>
        <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
          <div class="d-flex justify-content-center align-items-center gap-2 info-download px-3 rounded-3 cr">
            <div class="img-icon-download">
              <img src="../../assets/image/app-download/app-store-removebg-preview.png" alt="">
            </div>
            <div class="dowonload-info">
              <span>Download On The</span>
              <h5>App Store</h5>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center gap-2 info-download px-3 rounded-3 cr">
            <div class="img-icon-download">
              <img src="../../assets/image/app-download/app-removebg-preview.png" alt="">
            </div>
            <div class="dowonload-info">
              <span>Get It On</span>
              <h5>Google Play</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-center d-flex justify-content-center align-items-center">
        <img class="phone-img" src="../../assets/image/app-download/img-app-download-removebg-preview.png" alt="">
        <img class="phone-img2" src="../../assets/image/app-download/img-app-download2-removebg-preview.png" alt="">
      </div>
    </div>
  </div>
</section>
